
<!--/*
======================================================
; Title:  nesbitt-assignment3.4.js about.ejs
; Author: Michelle Nesbitt
; Date:   5-9-2020
; Modified By: Michelle Nesbitt
; Description: Demonstrates about page with includes
;=====================================================
*/-->



<% include header %>

<div role="main" class="container">

    <br/><br/>

    <h2>Welcome to the <%= message %>!</h2>

</div>

<% include footer %>
