<!--/*
======================================================
; Title:  nesbitt-assignment3.4.js footer.ejs
; Author: Michelle Nesbitt
; Date:   5-9-2020
; Modified By: Michelle Nesbitt
; Description: Demonstrates footer includes
;=====================================================
*/-->
</body>
</html>
