<!--
  ======================================================
; Title:  ems
; Author: Richard Krasso
; Date:   5-27-2020
; Modified By: Michelle Nesbitt
; Description: Demonstrates EJS Views
;=====================================================
-->

<hr>

<footer>

    <p>© Michelle Nesbitt 2020</p>

</footer>
</body>
</html>
