
<!--
  ======================================================
; Title:  ems
; Author: Richard Krasso
; Date:   5-27-2020
; Modified By: Michelle Nesbitt
; Description: Demonstrates EJS Views
;=====================================================
-->
<table>
  <tr>
      <td width="30%"><div class="wpclogo"><img src="images/wpc.jpg"></div></td>
      <td>&nbsp;</td>
      <td width="30%"></td>
  </tr>
</table>
