<!--
  ======================================================
; Title:  ems
; Author: Richard Krasso
; Date:   5-27-2020
; Modified By: Michelle Nesbitt
; Description: Demonstrates EJS Views
;=====================================================
-->
<nav>
  <a href="/">Home</a>
  <a href="#">About</a>
  <a href="#">Contact Us</a>
</nav>
