<!--
  ======================================================
; Title:  ems
; Author: Richard Krasso
; Date:   5-27-2020
; Modified By: Michelle Nesbitt
; Description: Demonstrates EJS Views
;=====================================================
-->
<%- include('header') %>
<%- include('navbar') %>

<div role="main" class="container">

    <br/><br/>

    <h2>Add New Employee</h2>

</div>

<%- include('footer') %>
